body {
    margin: 0;
    padding: 0;
}

p, input, textarea, a {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
}

input[type="submit"] {
    font-family: Helvetica, "Nimbus Sans", Arial, sans-serif;
    font-weight: bold;
}

h1 {
    font-family: Helvetica, "Nimbus Sans", Arial, sans-serif;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
}

h2 {
    margin: 0;
}

a {
    color: #DD3E18;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 336px;
    height: 648px;
    box-sizing: border-box;
}

.expectations {
    height: auto;
}

.works {
    height: auto;
    text-align: left;
    margin-left: 16px;
}

.contacts {
    height: auto;
    margin-top: 88px;
}

.about {
    display: flex;
    flex-flow: column wrap;
    background: #082841;
    color: #FFFFFF;
}

.about__role {
    margin-top: 33px;
    font-weight: bold;
    font-family: Helvetica, "Nimbus Sans", Arial, sans-serif;
    font-size: 16px;
}

.about__name {
    font-weight: bold;
    margin-top: 15px;
}

.about__name h1 {
    margin: 0;
}

.about__avatar {
    margin-top: 21px;
}

.about__avatar img {
    object-fit: cover;
    width: 144px;
    height: 144px;
    border-radius: 100%;
}

.about__info {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 16px;
    width: 305px;
    height: 264px;
}

.contacts__links__options {
    margin-top: 15px;
    margin-left: 17px;
    text-align: left;
}
.contacts__links__options__option__type {
    padding-left: 12px;
    font-size: 16px;
    line-height: 32px;
    display: inline-block;
}

.contacts__links__options__option__square {
    margin: auto auto;
    display: inline-block;
    width: 20px;
    height: 20px;
    opacity: 0.1;
    background: #000000;
    border-radius: 2px;
}

.contacts__links__opportunities {
    text-align: left;
    width: 304px;
    height: 122px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 34px;
    margin-bottom: 32px;
    margin-left: 16px;
}

footer {
    display: flex;
    flex-flow: row wrap;
    background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
}

.contacts__info {
    flex: 0 0 100%;
    text-align: left;
}

.contacts__info h1 {
    margin-top: 43px;
    margin-left: 14px;
}

.contact__links__options__message {
    display: none;
}

.contacts__form__message {
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding-top: 11px;
    padding-left: 16px;
    padding-bottom: 13px;
}

footer input, textarea {
    box-sizing: border-box;
    width: 304px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding-top: 11px;
    padding-left: 16px;
    padding-bottom: 13px;
    margin-bottom: 24px;
}

footer textarea {
    height: 192px;
    resize: none;
}

footer input[type=submit] {
    background: #DD3E18;
    color: #FFFFFF;
    margin-bottom: 72px;
}

.contacts__form__attach {
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    color: #DD3E18;
    line-height: 24px;
    margin-bottom: 32px;
}

.contacts__form__attach img {
    margin-right: 11px;
}

.contacts__form {
    margin-left: 16px;
}

.expectations__header {
    margin-top: 91px;
    margin-bottom: 13px;
}

.expectations__header h1 {
    margin-bottom: 0;
}

.expectations__list {
    display: flex;
    flex-flow: column;
    text-align: left;
    align-items: center;
}

.expectations__list__item {
    position: relative;
    width: 304px;
    height: 304px;
    background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
    border-radius: 4px;
    margin-bottom: 24px;
}

.expectations__list__item h2 {
    margin-left: 24px;
    margin-top: 25px;
    margin-bottom: 24px;

}

.expectations__list__item div {
    position: absolute;
    margin-left: 24px;
    margin-right: 24px;
}

.works__header {
    margin-top: 83px;
}

.slider-container {
    position: relative;
    width: 304px;
    display: flex;
    flex-flow: column;
}

.slides-container {
    position: relative;
    height: 216px;
}

.slider-info-container {
    margin-left: 1px;
    display: flex;
    flex-flow: column;
}

.slider-info__header {
    margin-top: 38px;
}

.slider-info__name {
    margin-bottom: 8px;
}

.slider-info__link {
    margin-bottom: 16px;
}

.slider-info__description {
    margin-bottom: 15px;
}

.slider-content-and-controls {
    display: flex;
    flex-flow: column;
}

.slide-image {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 5px 22px -3px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 5px 22px -3px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 5px 22px -3px rgba(0, 0, 0, 0.20);
}

.slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav {
    text-align: center;
    margin-top: 24px;
    z-index: 99;
}

.slide-image {
    z-index: -1;
}

.slider-container input[type="radio"] {
    display: none;
}

.dots {
    top: -5px;
    width: 8px;
    height: 8px;
    margin: 0 24px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background: #DD3E18;
}

#i1-1:checked ~ div .img1-1,
#i2-1:checked ~ div .img2-1,
#i1-2:checked ~ div .img1-2,
#i2-2:checked ~ div .img2-2 {
    z-index: 9;
}

#i1-1:checked ~ div .dot1-1,
#i2-1:checked ~ div .dot2-1,
#i1-2:checked ~ div .dot1-2,
#i2-2:checked ~ div .dot2-2 {
    background: #000000;
}