.container {
    width: 1024px;
    height: 768px;
}

.expectations {
    width: 944px;
}

.expectations__header {
    margin-left: 0;
}

.expectations__list {
    margin-left: 0;
    margin-right: 0;
}

.works {
    width: 944px;
    margin-left: 40px;
}

.about__head {
    text-align: left;
    flex: 0 0 50%;
    margin-left: 85px;
}

.about__role {
    margin-top: 65px;
}

.about__avatar {
    margin-top: 0;
    order: -1;
    align-self: flex-start;
}

.about__avatar img {
    width: 424px;
    height: 768px;
    border-radius: 0;
    flex: 0 0 100%;
}

.about__info {
    margin: 0 0 0 85px;
    text-align: left;
    padding-top: 0;
    flex: 0 0 50%;
    width: 464px;
    height: 252px;
}

.contacts__links {
    flex-flow: column;
    margin-left: 39px;
}

footer input, textarea {
    width: 544px;
}

.contact__links__options__message {
    display: block;
    margin-bottom: 16px;
}

.contacts__links__options {
    margin-top: 0;
    margin-left: 0;
}

.contacts__links__opportunities {
    margin-top: 0;
}

.contacts__info h1 {
    margin-top: 81px;
    margin-left: 40px;
}

.contacts__form {
    margin-left: 96px;
}

.slider-container {
    width: 944px;
    flex-flow: row;
    margin-bottom: 144px;
}

.slides-container {
    width: 544px;
    height: 384px;
}

.slider-info-container {
    flex-flow: column;
    width: auto;
    justify-content: space-between;
    margin-top: 0;
}

.slider-info__description {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.slider-content-and-controls {
    flex-flow: row;
    width: auto;
}

.works__header {
    margin-bottom: 63px;
}

.nav {
    align-self: center;
}

.nav label {
    display: block;
    margin-left: 16px;
    margin-bottom: 16px;
}

.inverse {
    order: -1;
}