.container {
    width: 1440px;
    height: 672px;
}

.expectations {
    width: 944px;
}

.about__avatar img {
    width: 552px;
    height: 672px;
}

.about__head {
    margin-left: 0;
    margin-right: 390px;
}

.about__info {
    margin-left: 0;
    width: 544px;
}

.works {
    width: 944px;
    margin-left: auto;
    margin-right: auto;
}

.works__header {
    margin-top: 129px;
}

.contacts {
    padding-left: 242px;
    height: 795px;
}

.contacts__links {
    margin-top: 61px;
    margin-left: 0;
}

.contacts__info h1 {
    margin-left: 0;
}

.contacts__form {
    margin-top: 61px;
}